/* NAVBAR */

.navbar-toggler {
	border-color: transparent;
	color: white;
	font-size: xx-large;
}
.navbar-toggler:hover .navbar-toggler-icon{
	color:white;
}

/* NAVBAR END */

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}


/* FOOTER */
footer a {
	text-decoration: none;
}

#copyright{
	font-size: 12px;
}


@media (max-width: 576px) { 
	/* NAVBAR  */
	header .navbar-collapse{
		position: absolute;
		z-index: 3;
		background-color: #ffc107ed;
		top: 60px;
		width: 100%;
		padding: 20px;
		border-bottom: 2px solid rgb(151, 151, 7);
		margin-left: -12px;
	}	
}